.main {
    overflow: auto;
}

.appLayout {
    display: grid;
    grid-template-rows: 7fr 90fr 3fr;
    height: 100%;
}

.conteiner {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
}

* {
    font-family: Roboto, sans-serif;
}
