.footer {
    background: #031323;
    display: grid;
    grid-template-columns: 10fr 90fr;
    height: 100%;
}

.divTextBox{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.divCopyright {
    color:white;
    font-size: 100%;
    margin-right: 1em;
}

.divTheorem {
    color:white;
    font-size: 110%;
}

.divHalmos {
    color: white;
    background-color: #031323;
    margin-left: 5px;
    width: 0.5em;
    height: 0.5em;
    border-color: white;
    border:solid;
}

