.feedbackItem {
    border: 1px solid #E5E5E5;
    display: grid;
    font-weight: bold;
    grid-template-columns: 70fr 30fr;
    overflow: hidden;
    height: 3em;
    border-collapse: collapse;
    border-spacing: 0;
    place-items: flex-start;
}

.divFeedBackReviewQuestion {
    height: 3em;
    width: 80em;
    border-right: 1px solid #E5E5E5;
}
